.home{
  display: grid;
  grid-template-columns: 1fr;
}

.hero-unit-space-exploration .hero-image1{
  background: url(/images/luna_large.jpg);

}
.hero-unit-moon-exploration .hero-image{
  background: url(/images/final-frontier_large.jpg);

}
